<nav>
  <div class="nav-wrapper teal">
    <a href="#" class="brand-logo"> Beta Version</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a>SignUp</a></li>
        <li><a>Login</a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="collapsible.html">SignUp</a></li>
        <li><a href="mobile.html">Login</a></li>
      </ul>
    </div>
  </nav>

<div class="container searchbar">
  <h1 class="center teal-text">Fuckgle <i class="tiny material-icons right">insert_chart</i></h1>
  <input type="text" class="browser-default searchbar__input" #itemInput (keyup)="searchItem([itemInput.value])">


  <nav class="searchbar__menu hide-on-med-and-down">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb searchbar__menu-item" (click)="showExpensives(orderList.random)" routerLink="/lucky">Tengo suerte!</a>
        <a class="breadcrumb searchbar__menu-item" (click)="showExpensives(orderList.lowPrice)">Económico</a>
        <a class="breadcrumb searchbar__menu-item" (click)="showExpensives(orderList.highPrice)">Toy botao!</a>
        <a class="breadcrumb searchbar__menu-item" (click)="showFilters=!showFilters">Busqueda personalizada ⚙️</a>
      </div>
    </div>
  </nav>
  <div class="section"></div>



  <div *ngIf="showFilters"  class="searchbar__filter animate__animated" [ngClass]="showFilters ? 'animate__fadeInDown' : 'animate__fadeOutUp'" >
    <form class="searchbar__filter-form" action="#">
      <p>
        <label class="radio-button">
          <input class="with-gap" name="group1" type="radio" (click)="setFilterCriteria(filterCriteriaOptions.name)" #byName [attr.checked]="filterCriteria==filterCriteriaOptions.name ?  true : null" />
          <span>Nombre</span>
        </label>
      </p>
      <p>
        <label class="radio-button">
          <input class="with-gap" name="group1" type="radio"(click)="setFilterCriteria(filterCriteriaOptions.services)" #byService [attr.checked]="filterCriteria==filterCriteriaOptions.services ?  true : null"/>
          <span>Servicio</span>
        </label>
      </p>
      <p>
        <label class="radio-button">
          <input class="with-gap" name="group1" type="radio"(click)="setFilterCriteria(filterCriteriaOptions.price)" #byPrice [attr.checked]="filterCriteria==filterCriteriaOptions.price ?  true : null"/>
          <span>Precio</span>
        </label>
      </p>

    </form>
  </div>



</div>
<div class="section"></div>
<div class="container">
  <router-outlet></router-outlet>
</div>

