<nav>
  <div class="nav-wrapper teal">
    <a routerLink="/lucky" class="brand-logo"><i class="material-icons left">home</i>Inicio </a>
    <a (click)="toggleMobileMenu=!toggleMobileMenu"data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="authName==''" (click)="loginWithGoogle()"><a>Login with Google <i class="material-icons left">person</i></a></li>
      <li *ngIf="authName !== '' "><a>{{authName}} <i class="material-icons left">person</i></a></li>
      <li *ngIf="authName !== '' "><a routerLink="/panelItems">Control Panel <i class="material-icons left">vpn_key</i></a></li>
      <li *ngIf="authName !== '' " (click)="logOutUser()"><a routerLink="/panelItems">Close session <i class="material-icons left">close</i></a></li>

    </ul>
    <div class="modalMobile" *ngIf="toggleMobileMenu" (click)="toggleMobileMenu=false"></div>
    <ul class="side-nav" *ngIf="toggleMobileMenu" id="mobile-demo">
      <li *ngIf="authName==''" (click)="loginWithGoogle(); toggleMobileMenu= false"><a>Login<i class="material-icons left">person</i></a></li>
      <li *ngIf="authName !=='' "><a>{{authName}} <i class="material-icons left">person</i></a></li>
      <li *ngIf="authName!== '' "routerLink="/panelItems" (click)="toggleMobileMenu=false"><a>Control Panel <i class="material-icons left">vpn_key</i></a></li>
      <li *ngIf="authName !== '' " (click)="logOutUser(); toggleMobileMenu= false"><a routerLink="/panelItems">Close session <i class="material-icons left">close</i></a></li>
    </ul>
  </div>
</nav>

<div class="container searchbar" *ngIf="showNavbarState">
  <h1 class="center teal-text">Fuckgle <i class="tiny material-icons right">insert_chart</i></h1>
  <input type="text" class="browser-default searchbar__input" #itemInput (keyup)="searchItem([itemInput.value.toLowerCase()])">


  <nav class="searchbar__menu hide-on-med-and-down">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb searchbar__menu-item" (click)="showExpensives(orderList.random)" routerLink="/lucky">Tengo suerte!</a>
        <a class="breadcrumb searchbar__menu-item" (click)="showExpensives(orderList.lowPrice)">Económico</a>
        <a class="breadcrumb searchbar__menu-item" (click)="showExpensives(orderList.highPrice)">Toy botao!</a>
        <a class="breadcrumb searchbar__menu-item" (click)="showFilters=!showFilters">Busqueda personalizada ⚙️</a>
      </div>
    </div>
  </nav>
  <div class="section"></div>



  <div *ngIf="showFilters"  class="searchbar__filter animate__animated" [ngClass]="showFilters ? 'animate__fadeInDown' : 'animate__fadeOutUp'" >
    <form class="searchbar__filter-form" action="#">
      <p>
        <label class="radio-button">
          <input class="with-gap" name="group1" type="radio" (click)="setFilterCriteria(filterCriteriaOptions.name)" #byName [attr.checked]="filterCriteria==filterCriteriaOptions.name ?  true : null" />
          <span>Nombre</span>
        </label>
      </p>
      <p>
        <label class="radio-button">
          <input class="with-gap" name="group1" type="radio"(click)="setFilterCriteria(filterCriteriaOptions.services)" #byService [attr.checked]="filterCriteria==filterCriteriaOptions.services ?  true : null"/>
          <span>Servicio</span>
        </label>
      </p>
      <p>
        <label class="radio-button">
          <input class="with-gap" name="group1" type="radio"(click)="setFilterCriteria(filterCriteriaOptions.price)" #byPrice [attr.checked]="filterCriteria==filterCriteriaOptions.price ?  true : null"/>
          <span>Precio</span>
        </label>
      </p>

    </form>
  </div>



</div>
<div class="section"></div>
<div class="container">
  <router-outlet></router-outlet>
</div>

