
  <nav class="row transparent z-depth-0">
    <div class="nav-wrapper col s12 m10 offset-m1 teal">
      <div class="col s12">
        <a  class="breadcrumb">Buscar Item</a>
        <a  class="breadcrumb">Crear Item</a>
      </div>
    </div>
  </nav>


<div class="section"></div>

<div class="row ">
  <div class="col s12 m10 offset-m1 z-depth-1-half">
    <form [formGroup]="itemForm" (ngSubmit)="createNewItem()">
      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix teal-text">contacts</i>
        <input type="text" id="name" class="validate" formControlName="name" required>
        <label for="name">Nombre</label>
      </div>

      <div class="input-field col s12 m6 l3">
        <i class="material-icons prefix teal-text">phone</i>
        <input type="text" id="cel" class="validate" formControlName="cel">
        <label for="cel">móvil / cel</label>
      </div>

      <div class="input-field col s12 m6 l3">
        <i class="material-icons prefix teal-text">attach_money</i>
        <input type="text" id="price" class="validate" formControlName="price">
        <label for="price">Tarifa / hora</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix teal-text">create</i>
        <textarea id="description" class="materialize-textarea" formControlName="description"></textarea>
        <label for="description">Descripción de Necia</label>
      </div>

      <div class="input-field col s12 ">
        <a class="waves-effect waves-light btn teal white-text" (click)="showItemServices()">
          Servicios<i class="material-icons right">arrow_drop_down</i>
        </a>
        <input class="file-path validate" type="text"
        [value]="itemServicesToString" formControlName="services"
        >
        <span class="new badge"> {{itemServicesSelected.length}}</span>
      </div>

      <div class="input-field col s12 ">
        <div class="file-field input-field">
          <div class="btn">
            <span>Cargar Fotos <i class="material-icons right">camera_alt</i></span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>

      <div class="input-field col s12">
        <button class="btn waves-effect waves-light teal" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>

      <div class="input-field col s12">&nbsp;</div>
    </form>

    <div class="modal__services" *ngIf="_showItemServicesState" (click)="showItemServices()"></div>
    <div class="modal__services-container" *ngIf="_showItemServicesState">
      <a class="waves-effect waves-light btn teal white-text" (click)="showItemServices()">Cerrar ventana
        <i class="material-icons right">close</i>
      </a>
      <div class="collection">
        <a class="collection-item avatar">
          <i class="material-icons circle">playlist_add_check</i>
          <span class="title">Seleccione los servicios</span>
          <p>(Puede escoger varios)</p>
        </a>
        <a class="collection-item" *ngFor="let itemService of itemServicesArr"
        (click)="setItemService(itemService)">{{itemService.name}}
        <a class="secondary-content"><i class="material-icons teal-text" *ngIf="validateItemServiceSelected(itemService)">done</i></a>
        </a>
      </div>

    </div>

  </div>
</div>


